
{snippetArea calculatorWrapper}
{form calculator}

    <div class="radios pref">
        <h3>{label pref}</h3>
        {foreach $form['pref']->items as $key => $value}
            <div onclick="this.querySelector('input').click()">
                <div>
                    {input $form['pref']:$key}
                </div>
                {label $form['pref']:$key}
            </div>
        {/foreach}
    </div>

    <div class="radios koule">
        <a class="question" href="{plink Blog:typyTazneho}" title="Jak vybrat typ upevnění?" target="_blank">
            <h3>{label koule}</h3>
        </a>
        {foreach $form['koule']->items as $key => $value}
            <div onclick="this.querySelector('input').click()">
                <div>
                    {input $form['koule']:$key}
                </div>
                {label $form['koule']:$key}
            </div>
        {/foreach}
    </div>

    <div class="radios el">
        <a class="question" href="{plink Blog:elektroinstalace}" title="Jak vybrat zásuvku?" target="_blank">
            <h3>{label zasuvka}</h3>
        </a>
        {foreach $form['zasuvka']->items as $key => $value}
            <div onclick="this.querySelector('input').click()">
                <div>
                    {input $form['zasuvka']:$key}
                </div>
                {label $form['zasuvka']:$key}
            </div>
        {/foreach}
    </div>

    <div class="radios redukce">
        <h3>{label redukce}</h3>
        {foreach $form['redukce']->items as $key => $value}
            <div>
                <div>
                    {input $form['redukce']:$key}
                </div>
                {label $form['redukce']:$key}
            </div>
        {/foreach}
    </div>



    <div id="nabidka">
        {snippet summaryBox}
            {if !isset($data)}
                <h2 class="no">Pro zvolené vozidlo bohužel aktuálně nemáme k dispozici kompletní nabídku.</h2>
                <p class="no">Přesto nám odešlete tuto svoji poptávku a naši specialisté se Vám ozvou s individuálním návrhem řešení.</p>
            {else}
                {foreach $data as $item => $value}
                    <div id="{$item}" class="hidden">
                        {if $value === 0 || !$value}
                            <h2 class="no">Pro zvolené vozidlo bohužel aktuálně nemáme k dispozici kompletní nabídku.</h2>
                            <p class="no">Přesto nám odešlete tuto svoji poptávku a naši specialisté se Vám ozvou s individuálním návrhem řešení.</p>
                        {else}
                            <h2> Orientační cena včetně montáže s DPH: {$value|number:0, ',', ' '} Kč</h2>
                            <p>Cena je orientační a&nbsp;může se dle technického provedení vozidla lišit, pro více informací kontaktujte naši zákaznickou linku.</p>
                        {/if}
                    </div>

                {/foreach}
            {/if}
        {/snippet}
    </div>

{/form}
{/snippetArea}
