:root {

	/* COLORS */
	--color-white: #fff;
	--color-orange: rgb(255, 153, 0);
	--color-gray: #707070;
	--color-darkGray: #525252;
	--color-lightGray: #EBEBEB;
}

/*@font-face*/
/*{*/
/*	font-family: osr;*/
/*	src: url('fonts/os-r.otf'),*/
/*	url("fonts/os-r.woff") format("woff");*/
/*}*/

/*@font-face*/
/*{*/
/*	font-family: osb;*/
/*	src: url('fonts/os-b.otf'),*/
/*	url("fonts/os-b.woff") format("woff");*/
/*}*/

/*@font-face*/
/*{*/
/*	font-family: ossb;*/
/*	src: url('fonts/os-sb.otf'),*/
/*	url("fonts/os-sb.woff") format("woff");*/
/*}*/


html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


body
{
	margin: 0;
	padding: 0;
	font-family: "Segoe UI",osr, Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
	-ms-text-size-adjust: 100%;
}

* hr,
.hide { display: none; }

a:active { outline: none; }
:focus { outline-style: none; }

a
{
	color: var(--color-orange);
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

b {
	font-weight: 600;
}

#title a {
	color: var(--color-lightGray);
}

input, textarea
{
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}


*, *:before, *:after
{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}


/* SOCIAL ICONS BAR */

aside {
	position: fixed;
	z-index: 100;
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	padding-left: .5em;
	top: 50%;
	height: 8em;
	width: 3em;
	background-color: var(--color-gray);
	background-image: url("../image/ikony/social/bubbles.png");
	background-size: contain;
}

aside div {
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

/* end social icons Bar*/


header
{
	max-width: 86.84%; /* 1650px */
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

header > a.logo
{
	float: left;
	background-image: url("../img/logo-w.svg");
	width: 310px;
	height: 60px;
	background-size: auto 70%;
	background-repeat: no-repeat;
	background-position: left bottom;
}

header::after
{
	content: " ";
	clear: both;
	display: block;
}

header nav
{
	float: right;
	font-size: 15px;
	padding-top: 20px;
	font-weight: bold;
}

header .upperMenu {
	display: flex;
}

.upperMenu a,
.upperMenu svg {
	color: var(--color-darkGray);
	font-size: 1em;
}

#mmenu
{
	display: none;
}

header nav a,
.cta
{
	background-color: #f90;
	margin-right: 5px;
	float: left;
	text-align: center;
	text-transform: uppercase;
}

header nav a {
	font-weight: normal;
}

header nav a:last-of-type
{
	margin-right: 0;
}

header nav a span,
.cta > span
{
	background-color: #f90;
	color: white;
	padding: 10px 20px;
	float: left;
	width: 100%;
	cursor: pointer;
	transition: 100ms transform, 100ms background-color, 100ms color;
}

header nav a:hover span,
.cta:hover > span
{
	text-decoration: none;
	background-color: #525252;

	-moz-transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}

.cta span > input
{
	cursor: pointer;
}


#imark select
{
	display: none;
}



#imark select
{
	display: none;
}


#main,
#title,
.subn
{
	float: left;
	width: 100%;
	background-color: #525252;
	color: white;
}

#main h1,
#title h1,
.subn h2
{
	max-width: 86.84%;
	font-size: 32px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 0;
	font-weight: normal;
	font-family: osb, Arial, Helvetica, sans-serif;
}

#main h1,
#title h1 {
	text-transform: uppercase;
}

.subn
{
	background-color: #ebebeb;
}

.subn.step h2
{
	position: relative;
	font-size: 22px;
	font-weight: normal;
	font-family: ossb, Arial, Helvetica, sans-serif;
	padding: 30px 0px;
	color: #525252;
}


/* GALLERY SLIDER*/

/* external css: flickity.css */

.carousel {
	margin-bottom: 40px;
}

.carousel-cell {
	width: 40%;
	height: 350px;
	margin-right: 10px;
	border-radius: 5px;
	counter-increment: carousel-cell;
}

.carousel img {
	object-fit: cover;
}

.carousel.is-fullscreen .carousel-cell {
	height: 100%;
	width: 100%;
	object-fit: contain;
}




/* FOOTER */

footer {
	clear: both;
	position: relative;
}

.recenze {
	min-height: 6em;
	background: var(--color-lightGray);
	padding: 1em 7.7em;
	margin-bottom: 1.5em;
}

.recenze h1 {
	font-weight: 100;
	font-size: 1.5em;
	color: var(--color-gray);
}

.recenze p {
	max-width: 92%;
	font-weight: 700;
	font-size: 1.5em;
	color: var(--color-darkGray);
}

.benefit,
.vyrobci {
	height: 11em;
	background: var(--color-darkGray);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-left: 18rem;
	padding-right:  22rem;
}

.benefit div {
	text-align: center;
}

.benefit p {
	color: #E1DEDE;

	font-weight: 300;
	font-size: 1em;
	line-height: 1em;
	text-align: center;
	width: 10.0625rem;
}

.benefit img {
	align-items: center;
	width: 87px;
	height: 88px;
}

.vyrobci {
	max-height: 8.1875rem;
	background-color: var(--color-lightGray);
	padding-left: 12rem;
	padding-right: 12rem;
}

.vyrobci img {
	max-height: 5rem;
	max-width: 11rem;
}

.vyrobci img:last-of-type {
	max-height: 4rem;
}

footer img.tazak {
	position: absolute;
	max-height: 17em;
	bottom: 9em;
	right: 6rem;
}

/* END FOOTER */







/*
*
** MEDIA QUERIES
*
*/


@media screen and (max-width: 1767px){

	#main h1,
	header,
	.subn {
		max-width: none;
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media screen and (max-width: 1750px) {
	#form > div:not(.subn),
	#sel > div:not(.subn),
	#title,
	.subn {
		max-width: none;
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media screen and (max-width: 1600px)
{



	#main h1
	{
		font-size: 26px;
	}

	.benefit {
		max-height: 12rem;
	}

	.vyrobci img {
		max-width: 8rem;
	}
}


@media screen and (max-width: 1400px)
{
	.vyrobci {
		max-height: 7.1875rem;
	}

	aside {
		display: none;
	}
}


@media screen and (max-width: 1300px)
{
	header > a.logo
	{
		background-image: url("../img/logo.svg");
		background-size: auto 100%;
		width: 125px;
	}

	.vyrobci {
		max-height: 6.1875rem;
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.vyrobci img {
		max-width: 8rem;
	}

	.benefit {
		padding-left: 13rem;
		padding-right: 18rem;
	}

	footer img.tazak {
		bottom: 8em;
		max-height: 16em;
	}

}


@media screen and (max-width: 1100px)
{
	header nav
	{
		font-size: 12px;
		padding-top: 34px;
	}

	.benefit {
		max-height: 9rem;
		padding-left: 0;
		padding-right: 0;
	}

	.benefit img {
		width: 60px;
		height: 60px;
	}

	footer img.tazak {
		display: none;
	}

	.vyrobci {
		max-height: 8.1875rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.recenze p{
		max-width: 100%;
	}
}

@media screen and (max-width: 977px) {
	#title h1,
	#main h1,
	.subn.step h2 {
		font-size: 18px;
	}
	#title img {
		width: 25px;
		height: 25px;
	}

	.recenze {
		height: 5em;
	}
	.recenze h1,
	.recenze p {
		font-size: 1em;
	}
}


@media screen and (max-width: 840px)
{
	header nav a
	{
		width: calc((100% - 10px)/2);
		margin-bottom: 10px;
	}

	header nav a:nth-of-type(3)
	{
		margin-right: 10px;
	}

	.vyrobci {
		max-height: 6rem;
	}
	.vyrobci img {
		max-width: 6rem;
	}

	header nav
	{
		position: absolute;
		right: 150px;
		top: 45px;
		background-color: white;
		padding: 0 10px;
		z-index: 20;
		width: calc(100% - 360px);
		box-shadow: 0 10px 0 rgba(0,0,0,0.33);
		display: none;
	}

	header nav a
	{
		width: calc((100% - 20px)/3);
		margin-bottom: 10px;
	}

	header nav a:nth-of-type(3)
	{
		margin-right: 0;
	}

	#mmenu
	{
		float: right;
		display: inline;
		background-color: #f90;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
		color: white;
		margin-top: 30px;
	}

	#mmenu > span
	{
		background-color: #f90;
		color: white;
		padding: 8px;
		padding-left: 35px;
		float: left;
		width: 100%;
		background-image: url("../img/mmicon.svg");
		background-size: 15px;
		background-repeat: no-repeat;
		background-position: 10px center;

		transition: 100ms transform, 100ms background-color, 100ms color;
	}

	#mmenu:hover > span,
	#mmenu.sel > span
	{
		text-decoration: none;
		background-color: #525252;

		-moz-transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
		-o-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		transform: translateY(-5px);
	}

	#mmenu.sel > span
	{
		background-image: url("../img/close.svg");
	}
}



@media screen and (max-width: 720px)
{
	header,
	#main h1,
	#title,
	.subn
	{
		padding-left: 25px;
		padding-right: 25px;
	}

	#main h1,
	#title h1,
	.subn.step h2
	{
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 20px;
	}

	.subn.step h2 {
		font-size: 14px;
	}

	header nav
	{
		font-size: 10px;
		right: 125px;
		width: calc(100% - 310px);
	}

	.benefit {
		max-height: 8rem;
	}

	.benefit p {
		font-size: 13px;
		width: 7rem;
	}

	.benefit img {
		width: 50px;
		height: 50px;
	}

	.recenze {
		height: 4em;
		padding: 1em 3.7em;
	}

	.recenze p {
		font-size: .9em;
		font-weight: 600;
	}
}



@media screen and (max-width: 640px)
{
	header nav a
	{
		width: 100%;
	}

	.benefit {
		max-height: 7rem;
	}
	.benefit img {
		width: 3rem;
		height: 3rem;
	}
	.benefit p {
		font-size: 10px;
		width: 5.0625rem;
		line-height: 0.8rem;
	}

	.vyrobci {
		max-height: 7rem;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		column-gap: 1rem;
		padding: 1rem;
	}
	.vyrobci img {
		max-width: 4rem;
	}
}

@media screen and (max-width: 520px)
{
	.recenze {
		height: 6em;
		margin-bottom: .5em;
	}
}

@media screen and (max-width: 480px)
{
	.carousel-cell {
		width: 75%;
	}

	#mmenu
	{
		margin-top: 12px;
	}

	header
	{
		/*padding-top: 20px;*/
		padding-bottom: 20px;
	}

	header > a.logo
	{
		height: 55px;
	}


	header nav
	{
		top: 17px;
		width: calc(100% - 270px);
	}
}



@media screen and (max-width: 440px)
{
	header nav
	{
		right: 15px;
		top: 80px;
		width: calc(100% - 30px);
	}

	.benefit {
		flex-wrap: wrap;
		justify-content: center;
	}

	.benefit img {
		width: 2rem;
		height: 2rem;
	}

	.benefit:last-child {
		display: none;
	}
}

@media screen and (max-width: 350px)
{
	.benefit {
		max-height: 10rem;
		padding: 1rem 3rem;
	}

	.benefit img {
		gap: .5rem;
	}
}

@media screen and (max-width: 265px)
{
	.benefit {
		max-height: 10rem;
		padding: 0 1rem;
	}
}