

    .desc {
        clear: both;
        display: block;
        width: 100%;
        position: relative;
        height: 410px;
        background-color: var(--color-orange);
        color: white;
        text-align: center;

    }


    .desc > div {
        margin: 0 auto;
        max-width: 55%;
    }

    .desc h2 {
        padding-top: 2em;
        padding-bottom: 1em;
        font: normal normal 600 50px/53px Segoe UI;
    }

    .desc p {
        font: normal normal 300 37px/53px Segoe UI;
    }

    .desc img {
        position: absolute;
        right: 8%;
        bottom: 5%;
        max-height: 22rem;
        float: right;
    }


    main {
        clear: both;
        height: 100%;
        max-width: 86.84%; /* 1650px */
        margin-left: auto;
        margin-right: auto;
        padding: 30px 0;
    }

    main h1 {
        font: normal normal 600 60px/53px Segoe UI;
        text-align: center;
        color: var(--color-gray);
        margin: 1em auto;
    }

    .mainCont > p,
    .dodavatele > p {
        padding: 1.5rem 0;
        font-size: 24px;
        font-weight: 500;
        color: var(--color-darkGray);
        float: left;
    }

    .mainCont > div {
        width: 62%;
        height: 18.75rem;
        margin-right: 7.5rem;
        margin-left: 8rem;
    }



    .mainCont,
    .dodavatele {
    display: flow-root;
    }



    section .mainCont{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .mainCont div img {
        margin-left: .5rem;
        margin-top: .5rem;
        max-width: 23rem;
        float: left;
        line-height: 1rem;
        height: 17.6875rem;
    }


    .description {
        padding: 4.5rem;
        display: table-cell;
        height: 18rem;
        text-align: center;
    }

    .description h3 {
        font: normal normal 600 34px/30px Segoe UI;
        padding-bottom: 1em;
    }

    .description p {
        letter-spacing: 1px;
    }

    main .mainCont img.right,
    .dodavatele img.right{
        float: right;
        margin-right: .5rem;
    }

    .mainCont > div:last-of-type,
    .dodavatele > div:last-of-type{
        margin-bottom: 3rem;
    }



    .dodavatele {
        background-color: #F8F8F8;
        text-align: center;
    }

    .dodavatele > div {
        display: flex;
        max-width: 50%;
        max-height: 300px;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0 16rem;
        color: white;
        opacity: 0.8;
    }

    .dodavatele img {
        width: 300px;
    }

    .dodavatele div img.right {
        float: right;
    }

    .dodavatele div.bg-white{
        background-color: white;
        width: 130%;
        height: 270px;
        margin: 0 10px;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
    }


    .dodavatele .titlenote {
        display: block;
        max-width: 62%;
        margin: 4rem auto;
        color: var(--color-darkGray);
        text-align: center;
    }

    .dodavatele > .titlenote h3 {
        padding-bottom: 1em;
        font: normal normal 600 36px/40px Segoe UI;
    }

    .dodavatele > .titlenote p {
        font: normal normal 300 26px/40px Segoe UI;
    }

    .dodavatele i {
        font-size: 2em;
        padding: 0.1em;
        color: red;
        border: red solid 2px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .dodavatele div.westfalia {
        background-color: #22489D ;
    }
    .dodavatele div.steinhof {
        background-color: #1D1D1B  ;
    }
    .dodavatele div.autohak {
        background-color: #E42431  ;
    }
    .dodavatele div.ej {
        background-color: #3E97AA;
    }
    .dodavatele div.ej img {
        width: 240px;
    }
    .dodavatele div.ecs {
        background-color: #1B1C20   ;
    }



    /* clanek s elektorinstalacemi */
    section.ele h2 {
        padding-top: 1em;
    }

    .porovnani,
    .attention div {
        padding: 2rem 0;
        margin: 0 auto;
    }

    .porovnani > div {
        display: flex;
        flex-direction: row;
        gap: 140px;
        justify-content: center
    }
    .porovnani > div:last-of-type {
        gap: 30px;
    }

    .porovnani > div div {
        flex-direction: column;
    }

    .porovnani div.dark,
    .porovnani div.light {
        width: 705px;
        padding: 3rem;
        color: var(--color-lightGray);
        text-align: center;
    }

    .porovnani div.dark h3,
    .porovnani div.light h3,
    .attention h3 {
        font: normal normal 600 34px/30px Segoe UI;
        margin-bottom: 1.5rem;
    }
    .porovnani div.dark p,
    .porovnani div.dark p {
        font: normal normal 300 22px/30px Segoe UI;
    }

    .porovnani div.light {
        height: auto;
        /*height: 610px;*/
        color: var(--color-darkGray);
    }


    section.porovnani img {
        width: auto;
        height: 384px;
    }






    /* clanek o tahani */

    .infografika {
        width: 61.5625%; /* 590 / 1920 */
        margin: 0 auto;
        padding: 4em 0;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 3em;
    }

    .porovnani .lightbox img {
        height: 100%;
    }

    .infografika img {
        border: 1.3em solid var(--color-orange);
        max-width: 45%;
    }

    section.porovnani img.orangeImg {
        border: 1.3em solid var(--color-orange);
        width: 100%;
        height: auto;
    }

    .attention p {
        font: normal normal normal 33px/40px Segoe UI;
    }
    .attention p strong {
        font: normal normal 600 36px/40px Segoe UI;
    }

    .attention {
        color: var(--color-darkGray);
        text-align: center;

        width: 100%;
        background-image: url("../image/obrazky/tahani/Attention.png");
        background-repeat: no-repeat;
        background-position: 125% 44%;
        background-size: auto 700px;
        background-color: #F8F8F8;
        background-blend-mode: soft-light;
    }
    .attention div {
        max-width: 1316px;
    }


    .attention img {
        margin: 3em auto;
        border: .4em solid var(--color-orange);
        max-width: 43.59375%;
    }

    section.overeno {
        background-image: url("../image/obrazky/papirovani/overeno.png");
        background-blend-mode: color-burn;
    }


    .porovnani .sm h3 {
        font: normal normal 600 34px/30px Segoe UI;
    }


    .porovnani .sm p {
        font: normal normal 300 22px/30px Segoe UI;
    }

    section.sm img {
        width: auto;
        height: 450px;
    }


    .light ul {
        list-style: circle;
        text-align: left;
        padding-left: 5%;
    }

    .light li {
        font: normal normal 300 35px/55px Segoe UI;
    }


    .dark,
    .dark p {
        background-color: var(--color-gray);
        color: var(--color-white);
    }


    .light {
        background-color: var(--color-lightGray);
        color: var(--color-gray);
    }

    .porovnani div.center {
        margin: 0 auto;
        width: 1020px;
    }

    .porovnani div.center div {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-around;
    }

    .porovnani div.center p {
        margin-top: 30px;
        font: normal normal 600 20px/36px Segoe UI;
    }

    .porovnani div.center p.lighter {
        font: normal normal 300 33px/36px Segoe UI;
        padding-bottom: 1em;
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }


    .doc {
        float: left;
        width: 100%;
        line-height: 1.5em;
        font-size: 20px;
        color: var(--color-darkGray);
        padding-bottom: 40px;

    }


    .doc > div {
        max-width: 1650px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5rem;
    }

    .doc img {
        max-width: 70%;
        opacity: 0.04;
        position: absolute;
        left: 10%;
        top: 65%;
        z-index: -10;
    }

    .doc > div ul {
        opacity: 1;
        padding: 2em 0;
    }

    .doc ul li
    {
        display: block;
        background-image: url("../img/dot-col.svg");
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: left 0.25em;
        padding-left: 60px;
        padding-bottom: 1.6em;
        font: normal normal 600 27px/36px Segoe UI;
        color: var(--color-gray);
    }

    .doc ul li a
    {
        text-decoration: underline;
    }

    .doc ul li a {
        text-decoration: none;
        color: var(--color-orange);
        font-weight: 500;
    }








    /* MEDIA QUERIES */


    @media screen and (max-width: 1600px)
    {
        .desc {
            height: 360px;
        }
        .desc h2 {
            padding-top: 1em;
            font: normal normal 600 46px/53px Segoe UI;;
        }
        .desc p {
            font: normal normal 300 31px/53px Segoe UI;
        }
        .desc img {
            max-height: 19rem;
        }
    }

    @media screen and (max-width: 1450px)
    {
        .desc {
            height: 310px;
        }
        .desc h2 {
            padding-bottom: .7em;
            font: normal normal 600 40px/53px Segoe UI;;
        }
        .desc p {
            font: normal normal 300 27px/53px Segoe UI;
        }
        .desc img {
            max-height: 16rem;
        }
    }

    @media screen and (max-width: 1300px)
    {
        .desc {
            height: 280px;
        }
        .desc h2 {
            padding-bottom: .4em;
            font: normal normal 600 30px/53px Segoe UI;;
        }
        .desc p {
            font: normal normal 300 22px/53px Segoe UI;
        }
        .desc img {
            max-height: 14rem;
        }
    }

    @media screen and (max-width: 1000px)
    {
        .desc {
            height: 210px;
        }
        .desc h2 {
            padding-bottom: .1em;
            font: normal normal 600 25px/53px Segoe UI;;
        }
        .desc p {
            line-height: 1em;
        }
        .desc img {
            max-height: 11rem;
            right: 5%;
            bottom: 10%;
        }
    }

