

    #form
    {
        clear: both;
        float: left;
        max-width: 100%;
        padding-bottom: 5rem;
        transition: opacity 250ms linear;
    }

    #form .inputs {
        padding-top: 9rem;
        max-width: 87%;
        margin: 0 auto;
    }

    #form .inputs > div
    {
        float: left;
        width: calc((100% - 60px) / 3);
        margin-right: 30px;
        padding-bottom: 20px;
    }

    #form .inputs > div:last-of-type
    {
        margin-right: 0px;
    }

    #form .inputs > div:nth-last-of-type(1),
    #form .inputs > div:nth-last-of-type(2),
    #form .inputs > div:nth-last-of-type(3)
    {
        padding-bottom: 0px;
    }

    #form  select,
    #form  input,
    #form  textarea
    {
        float: left;
        width: 100%;
        font-family: osb, Arial, Helvetica, sans-serif;
        padding: 20px;
        font-size: 18px;
        border: 1px solid gray;
        -webkit-box-shadow: inset 5px 5px 5px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 5px 5px 5px rgba(0,0,0,0.3);
        box-shadow: inset 5px 5px 5px rgba(0,0,0,0.3);
        color: #525252;

        border-radius: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    #form .inputs textarea
    {
        width: calc((100% - 60px) / 3);
    }


    #form .inputs > div p
    {
        float: left;
        clear: left;
        margin-top: 5px;
        font-size: 12px;
        color: #d50000;
        margin-left: 20px;
        display: none;
    }

    #form .inputs > .error p
    {
        display: inline;
    }

    #form .inputs > .error input
    {
        border: 1px solid #d50000;
        color: #d50000;
    }

    #form .inputs p.complete
    {
        color: #d50000;
        margin-bottom: 1em;
        display: none;
    }


    #form > div:not(.subn)
    {
        max-width: 1650px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0px;
        clear: both;
    }

    #form textarea
    {
        float: right;
        margin-right: 0px;
        height: 152px;
    }

    #form input::-webkit-input-placeholder {  color: inherit; opacity: 0.5; font-family: osr, Arial, Helvetica, sans-serif;  }
    #form input::-moz-placeholder {  color: inherit; opacity: 0.5; font-family: osr, Arial, Helvetica, sans-serif;  }
    #form input:-ms-input-placeholder {  color: inherit; opacity: 0.5; font-family: osr, Arial, Helvetica, sans-serif;  }
    #form input:-moz-placeholder {  color: inherit; opacity: 0.5; font-family: osr, Arial, Helvetica, sans-serif;  }

    #form textarea::-webkit-input-placeholder {  color: inherit; opacity: 0.5; font-family: osr, Arial, Helvetica, sans-serif;  }
    #form textarea::-moz-placeholder {  color: inherit; opacity: 0.5; font-family: osr, Arial, Helvetica, sans-serif;  }
    #form textarea:-ms-input-placeholder {  color: inherit; opacity: 0.5; font-family: osr, Arial, Helvetica, sans-serif;  }
    #form textarea:-moz-placeholder {  color: inherit; opacity: 0.5; font-family: osr, Arial, Helvetica, sans-serif;  }



    .cta {
        cursor: pointer;
        margin-top: 40px;
        width: 280px;
        margin-left: calc((100% - 280px)/2);
    }

    #form span input {
        padding: 10px 0px;
        color: white;
        background: none;
        border: 0px;
        -webkit-box-shadow: none;
        text-transform: uppercase;
        font-family: osb, Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        margin: 0;
    }


    #form div > div:last-of-type
    {
        padding-bottom: 5px;
    }

    #form div > div:nth-of-type(3n)
    {
        margin-right: 0px;
    }

    #form div > div:nth-of-type(3+1)
    {
        clear: left;
    }

    #form div > div:nth-of-type(8)
    {
        width: calc((100% - 60px) / 3 * 2 + 30px);
        margin-right: 0px;
    }

    #form textarea {
        height: 100%;
    }




    /* MEDIA QUERIES */


    @media screen and (max-width: 1750px)
    {
        #form > div:not(.subn)
        {
            max-width: none;
            width: 100%;
            padding-left: 50px;
            padding-right: 50px;
        }
    }



    @media screen and (max-width: 1100px)
    {
        #form .inputs > div p
        {
            margin-left: 15px;
        }

        #form .inputs input,
        #form .inputs select,
        #form .inputs select,
        #form .inputs textarea
        {
            font-size: 16px;
            padding: 15px;
        }

        #form .inputs textarea
        {
            height: 128px;
        }

        #form .inputs select
        {
            height: 54px;
        }
    }

    @media screen and (max-width: 720px)
    {

        #form .inputs p.complete
        {
            font-size: 14px;
        }
        #form .inputs input,
        #form .inputs select,
        #form .inputs textarea
        {
            font-size: 14px;
        }

        #form .inputs textarea
        {
            height: 122px;
        }

        #form .inputs select
        {
            height: 51px;
        }

        #form > div:not(.subn)
        {
            padding: 20px 25px;
            margin-right: 8px;
        }

    }

    @media screen and (max-width: 600px)
    {
        #form .inputs
        {
            position: relative;
            padding-bottom: 145px;
        }

        #form .inputs div
        {
            margin-right: 15px;
            width: calc((100% - 15px) /2);
        }

        #form .inputs > div:nth-of-type(2),
        #form .inputs > div:nth-of-type(4),
        #form .inputs > div:nth-of-type(6)
        {
            margin-right: 0px;
        }

        #form div > div:nth-of-type(3n) {
            margin-right: 15px;
        }

        #form div > div:nth-of-type(7n),
        #form .inputs > div:last-of-type
        {
            clear: left;
            width: 100%;
        }
        #form .inputs > div:last-of-type
        {
            padding-top: 20px;
        }
    }


    @media screen and (max-width: 480px)
    {

        #form .inputs div
        {
            width: 100%;
            padding-bottom: 10px;
        }

        #form .inputs > div:nth-last-of-type(3)
        {
            padding-bottom: 10px;
        }

        #form .inputs > div:last-of-type
        {
            padding-top: 10px;
        }

        #form .inputs
        {
            padding-bottom: 135px;
        }
    }


