
    .subn.step h2 {
        padding-left: 0;
    }

    .subn.step h2::before {
        background-image: none;
    }
    .subn.step4 {
        display: none;
    }

    .cta {
        margin-bottom: 50px;
    }

    .poptavka > p {
        display: none;
    }



