    #cookie {
        z-index: 1000;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        align-items: end;
    }

    .cookiebar {
        background-color: var(--color-lightGray);
        width: 100%;
        pointer-events: auto;
        padding: .5% 10%;
        position: relative;
    }

    .cookiebar div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cookiebar span {
        padding-left: 1rem;
        cursor: pointer;
        float: right;
    }

    #cookie p {
        color: #272019;
        font-size: 1rem;
    }

    .cookiebtns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cookie-more {
        text-decoration: underline;
        background: transparent;
        border: 0;
        color: var(--color-darkGray);
        cursor: pointer;
        margin-right: 5%;
        padding: 0;
        white-space: nowrap;
    }

    #acceptCookies {
        background: var(--color-orange);
        color: var(--color-white);
        border: 0;
        cursor: pointer;
        font-weight: 600;
        padding: 1rem 2rem;
        text-align: center;
        text-transform: uppercase;
        transition: all .2s;
    }


    .d-none {
        display: none;
    }








    /* MEDIA QUERIES */

    @media screen and (max-width: 700px)
    {
        .cookiebar {
            padding: .5% 5%;
        }
        .cookiebar div{
            font-size: .8rem;
            flex-direction: column;
        }
        .cookie-more {
                margin-right: 0;
                margin-bottom: .5rem;
        }
        #acceptCookies {
            padding: .5rem 1rem;
        }
        #cookie p {
            font-size: .8rem;
        }
    }