    header nav a:nth-of-type(2) span
    {
        background-color: var(--color-darkGray);

        -moz-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    #doc a {
        color: var(--color-orange);
    }

    p {
        font-weight: 600;
        line-height: 1.5rem;
    }

    #doc {
        float: left;
        width: 100%;
        line-height: 1.5em;
        color: #525252;
        padding-bottom: 40px;
    }

    #doc > div
    {
        max-width: 1650px;
        margin-left: auto;
        margin-right: auto;
    }


    #doc h2 {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    #doc .thin p {
        margin-bottom: 1.1em;
    }





    @media screen and (max-width: 1750px) {
        #doc > div {
            max-width: none;
            width: 100%;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    @media screen and (max-width: 977px)
    {
        #doc {
            padding-bottom: 1rem;
        }
        #doc h2
        {
            margin-top: 1.5rem;
        }

    }

    @media screen and (max-width: 720px)
    {
        #doc > div,
        #images > div {
            padding-left: 25px;
            padding-right: 25px;
        }

        #doc {
            line-height: 1.3em;
        }

    }
    @media screen and (max-width: 520px)
    {
        .recenze {
            height: 7em;
        }
    }