header nav a:first-of-type span
{
	background-color: #525252;

	-webkit-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}



.cta
{
	font-size: 18px;
	width: 280px;
	margin-top: -20px;
	margin-left: calc((100% - 280px)/2);
	font-family: osb, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	clear: both;
	color: white;
	border: none;
	border-radius: 0%;
	box-shadow: none;
}

#sel
{
	float: left;
	width: 100%;
	background-color: #ff9900;
	color: white;
	position: relative;
	padding-bottom: 10px;
}

#sel > div:not(.subn)
{
	margin-left: auto;
	margin-right: auto;
	max-width: 1650px;
}

#sel::after
{
	transition: all 200ms;
	content: "";
	opacity: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50px;
}

#sel.loading::after
{
	opacity: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: rgba(255,255,255,0.8);
	background-image: url("../img/loader.svg");
	transition: all 200ms;
}

#sel .cta
{
	margin-top: 30px;
}

#sel figure
{
	text-align: center;
	padding-bottom: 20px;
}

#sel figure img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 200px;
	max-width: 100%;
}

#sel figure.loading
{
	background-image: url("../img/loader.svg");
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: center center;
}

#form .inputs > div
{
	float: left;
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	padding-bottom: 20px;
}

#form .inputs > div:last-of-type
{
	margin-right: 0px;
}


#form .inputs > div:nth-last-of-type(1),
#form .inputs > div:nth-last-of-type(2),
#form .inputs > div:nth-last-of-type(3)
{
	padding-bottom: 0px;
}


#sel select,
#form  select,
#form  input,
#form  textarea,
#imark,
#imodel,
#imotor
{
	float: left;
	width: 100%;
	font-family: osb, Arial, Helvetica, sans-serif;
	padding: 20px;
	font-size: 18px;
	border: 1px solid gray;
	-webkit-box-shadow: inset 5px 5px 5px rgba(0,0,0,0.3);
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.3);
	color: #525252;

	background-image: url("../img/arrow.svg");
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: calc(100% - 20px) center;

	border-radius: 20px;
	-webkit-appearance: none;
	appearance: none;
}


#sel select,
#imark,
#imodel,
#imotor
{
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	padding-right: 50px;
	background-color: white;
}

#imotor
{
	margin-right: 0;
}

#imodel:disabled,
#imotor:disabled
{
	opacity: 0.5;
}


#sel select > *
{
	display: none;
}

#form .inputs textarea
{
	width: calc((100% - 60px) / 3);
}

#sel option
{
	font-family: osb, Arial, Helvetica, sans-serif;
}

#form .inputs > div p
{
	float: left;
	clear: left;
	margin-top: 5px;
	font-size: 12px;
	color: #d50000;
	margin-left: 20px;
	display: none;
}

#form .inputs > .error p
{
	display: inline;
}

#form .inputs > .error input
{
	border: 1px solid #d50000;
	color: #d50000;
}

#form .inputs p.complete
{
	color: #d50000;
	margin-bottom: 15px;
	display: none;
}



#sel h2
{
	margin-bottom: 30px;
	font-weight: normal;
	font-size: 22px;
	font-family: ossb, Arial, Helvetica, sans-serif;
}

.subn.step h2::before
{
	content: "";
	background-image: url("../img/step1.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 50%;

	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#sel .img
{
	float: left;
	width: 100%;
	margin-top: 40px;
}

#sel .img img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

#sel select.dis,
#imodel.dis,
#imotor.dis
{
	opacity: 0.5;
}



#mark,
#model,
#motor
{
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
	display: none;
}

#mark .logos a
{

	top: 0px;
	background-color: white;
	display: inline-block;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	margin-right: 30px;
	margin-bottom: 30px;
	transition: top 300ms, box-shadow 300ms, transform 300ms;
}

#mark .logos a img
{
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80px;

	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#mark .logos a:hover
{
	top: -10px;
	box-shadow: 0px 15px 10px rgba(0,0,0,0.3);
	transition: top 80ms, box-shadow 80ms, transform 80ms;
	/*	transform: scale(1.1);*/
}

#mark .all
{
	line-height: 2em;
	padding-top: 30px;
}

#mark .all a
{
	color: black;
	font-size: 18px;
	margin-right: 30px;
}

#mark .all a:last-of-type,
#mark .logos a:last-of-type
{
	margin-right: 0px;
}

#mark .all a:hover
{
	text-decoration: underline;
}

#mark p,
#model p,
#motor p
{
	margin: 0px;
	padding: 0px;
	color: black;
	text-align: center;
	line-height: 1.5em;
}





#imark.loading,
#imodel.loading,
#imotor.loading
{
	background-image: url("../img/loader.svg");
	background-size: auto 50%;
	background-repeat: no-repeat;
	background-position: 95% center;
}




#model,
#motor
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#motor
{
	width: calc((100% - 60px) / 3);
	float: right;
}

#model
{
	width: calc(100% - ((100% - 60px) / 3) - 30px);
	margin-left: calc((100% - 60px) / 3 + 30px);
	float: left;
}

#model > div,
#motor > div
{
	text-align: left;
	width: 100%;
	padding-left: 20px;
}

#model > div div,
#motor > div div
{
	margin-bottom: 0.5em;
	float: left;
	width: 100%;
}

#model > div div:last-of-type,
#motor > div div:last-of-type
{
	margin-bottom: 0px;
}

#model a,
#motor a
{
	color: black;
	font-size: 18px;
	line-height: 1.3em;
	float: left;
}

#model .all figure {
	display: none;
	position: absolute;
	right: 5em;
	vertical-align:bottom;
	z-index: 5;
}

#model .all img {
	width: 100%;
}

#model div div:last-child {
	padding-bottom: 13rem;
}



#komfort
{
	padding-top: 22px;
	float: left;
	width: 100%;
}

#komfort div
{
	float: right;
	width: calc((100% - 60px) / 3);
	margin-left: 30px;
}

#komfort input
{
	font-weight: bold;
	float: left;
}

#komfort input
{
	float: left;
	background-color: white;
	display: block;
	content: "";
	width: 50px;
	height: 50px;
	position: relative;
	border: 1px solid #525252;

	-webkit-box-shadow: inset 5px 5px 10px rgba(0,0,0,0.3);
	box-shadow: inset 5px 5px 10px rgba(0,0,0,0.3);
}

#komfort input:checked
{
	background-image: url("../img/check.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 25px;
}

#komfort a span
{
	float: left;
	margin-left: 20px;
	padding: 14px 0px;
}

#komfort p
{
	font-size: 16px;
	line-height: 1.4em;
	background-image: url("../img/info.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 26px;
	padding: 14px 0px;
	padding-left: 35px;
	float: right;
}



.subn.step h2
{
	position: relative;
	padding-left: 55px;
}

.subn.step2 h2::before
{
	background-image: url("../img/step2.svg");
}

.subn.step3 h2::before
{
	background-image: url("../img/step3.svg");
}

.subn.step4 h2::before
{
	background-image: url("../img/step4.svg");
}

.subn.step5 h2::before
{
	background-image: url("../img/step5.svg");
}






#map
{
	float: left;
	width: 100%;
	background-image: url("../img/t02.png"), url("../img/t01.png"), url("../img/bg_hpcarousel.gif");
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: 110% center, -10% center, top;
	background-size: auto 100%, auto 100%, auto;
	padding-bottom: 40px;
}

#map > div
{
	max-width: 1650px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 0px;
}

#map .img
{
	float: left;
	width: 40%;
	position: relative;
}

#map .img img
{
	float: left;
	width: 100%;
}

#map .img > div
{
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#map .img > div::after
{
	content: " ";
	animation: 20.6s mpoint infinite ease-in-out;
}

#map .img > div,
#map .img > div::after
{
	position: absolute;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #ff9900;
}

@keyframes mpoint
{
	0%, 90%
	{
		opacity: 0.8;
		transform: scale(1);
	}

	100%
	{
		opacity: 0;
		transform: scale(5);
	}
}

#map h2
{
	float: left;
	font-size: 40px;
	font-weight: normal;
	font-family: osb, Arial, Helvetica, sans-serif;
	width: 46%;
	text-transform: uppercase;
	text-align: right;
	margin-top: 150px;
}

#map h2 strong
{
	font-weight: normal;
	font-size: 100px;
}





#slides
{
	float: left;
	width: 100%;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
}

#slides img
{
	/*	border: 1px solid black;*/
	width: 200px;
	height: 200px;
	display: block;
}

#slides a
{
	margin-right: 30px;
	display: inline-block;
}

#slides a:last-of-type
{
	margin-right: 0px;
}



#form,
#form2
{
	float: left;
	width: 100%;
	padding-bottom: 40px;
	transition: opacity 250ms linear;
}

#form2
{
	clear: both;
	opacity: 0.33;
}

#form.shown,
#form2.shown
{
	float: left;
	opacity: 1;
	pointer-events: auto;
}

#form > div:not(.subn),
#form2 > div:not(.subn)
{
	max-width: 1650px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0px;
	clear: both;
}

#form2 > div:not(.subn)
{
	padding: 40px 0px;
}



.carconfig
{
	float: left;
	width: 100%;
	padding-bottom: 20px;
}



.yesno
{
	float: left;
	width: calc((100% - 90px) / 4);
	margin-bottom: 10px;
	margin-right: 30px;
}

.yesno div
{
	float: left;
	width: 80px;
	height: 50px;
	position: relative;
	border: 1px solid #525252;

	-webkit-box-shadow: inset 5px 5px 5px rgba(0,0,0,0.3);
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.3);

	-webkit-border-radius: 50px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.3);
	border-radius: 50px;

	cursor: pointer;
}

.yesno div::before
{
	position: absolute;
	background-color: #525252;
	width: 34px;
	height: 34px;
	content: " ";
	left: 7px;
	top: 7px;

	-webkit-border-radius: 50%;
	border-radius: 50%;

	transition: 150ms all;
}

.yesno.sel div::before
{
	left: 36px;
	background-color: #f90;
}

.yesno a,
.yesno label
{
	float: left;
	width: calc(100% - 100px);
	margin-left: 20px;
	margin-top: 12px;
	line-height: 1.4em;
}

.yesno a:hover
{
	text-decoration: none;
}

.poptavka .yesno p
{
	float: left;
	font-size: 12px;
	margin-left: 20px;
	margin-top: 5px;
	color: #d50000;
	display: none;
}

.yesno.error p
{
	display: inline;
}

.yesno.error label
{
	color: #d50000;
}


.radios
{
	width: 510px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0px;
	border-bottom: 1px solid #525252;
	cursor: pointer;
}

.radios:last-of-type
{
	border-bottom: none;
}

.radios::after
{
	content: " ";
	display: block;
	clear: both;
}

.radios h3
{
	width: 150px;
	float: left;
	line-height: 50px;
	font-size: 16px;
	color: #525252;
	vertical-align: middle;
}

.radios > div
{
	float: left;
	width: 180px;
}

.radios > div div
{

	float: left;
	width: 50px;
	height: 50px;
	position: relative;
	border: 1px solid #525252;

	-webkit-box-shadow: inset 5px 5px 10px rgba(0,0,0,0.3);
	box-shadow: inset 5px 5px 10px rgba(0,0,0,0.3);

	-webkit-border-radius: 50px;
	box-shadow: inset 5px 5px 10px rgba(0,0,0,0.3);

	border-radius: 50px;

	cursor: pointer;
	pointer-events:none
}

.radios > div input:checked
{
	position: relative;
	background-color: #ff9900;
	width: 30px;
	height: 30px;
	content: " ";
	left: 9px;
	top: 9px;

	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.radios > div label
{
	float: left;
	margin-left: 20px;
	margin-top: 12px;
	cursor: pointer;
}

.redukce > div {
	cursor: auto;
}

.redukce div div
{
	cursor: auto;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.redukce div label{
	cursor: default;
}


.redukce > div input:checked
{
	left: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	background-image: url("../img/check.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 25px;

	-webkit-border-radius: 0%;
	border-radius: 0%;
}

.inputs a input {
	padding: 10px 0px;
	color: white;
	background: none;
	border: 0px;
	text-transform: uppercase;
	font-family: osb, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	clear: both;
	font-size: 18px
}

.koule label,
.el label {
	cursor: pointer;
}

.koule h3::after,
.el h3::after {
	content: "?";
	color: var(--color-orange);
	margin-left: 10px;
}


#form
{
	clear: both;
	width: 100%;
	float: left;
	margin-top: 40px;
}

#form input,
#form textarea
{
	background-image: none;
}

#form textarea
{
	float: right;
	margin-right: 0px;
	height: 152px;
}

#form select
{
	margin-right: 0px;
	height: 66px;
}

#form input::-webkit-input-placeholder {  color: inherit; opacity: 0.5; font-family: osr, Arial, Helvetica, sans-serif;  }

#form textarea::-webkit-input-placeholder {  color: inherit; opacity: 0.5; font-family: osr, Arial, Helvetica, sans-serif;  }


#form .clr
{
	clear: left;
}

#form2 .ctanote
{
	float: left;
	width: 100%;
	clear: both;
	text-align: center;
	color: #525252;
	font-size: 14px;
	margin-top: 15px;
}


#nabidka
{
	float: left;
	width: 100%;
	position: relative;
	margin-top: 30px;
	padding-bottom: 50px;
}


#nabidka.loading
{
	min-height: 50px;
}

#nabidka.loading::after,
#form2 .loading::after
{
	content: "";
	background-color: rgba(255,255,255,0.8);
	background-image: url("../img/loader.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50px;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}


#nabidka h2
{
	color: #ff9900;
	text-align: center;
	font-size: 32px;
	font-family: osb, Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.4em;
	padding: 10px 50px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#nabidka h2.no
{
	font-size: 30px;
}

#nabidka p
{
	font-size: 14px;
	color: #525252;
	text-align: center;
	max-width: 610px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.4em;
	padding: 0px 50px;
}

.hidden {
	display: none;
}

#nabidka img.tazNabidka {
	max-width: 7.8125rem;
	max-height: 10.875rem;
	position: absolute;
	right: 21rem;
	bottom: 1rem;
}



.poptavka
{
	display: inline-block;
	padding: 2% 27%;
}

#gdpr
{
	-webkit-appearance: checkbox;
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	height: 50px;
	position: relative;
	border: 1px solid #525252;
	-webkit-border-radius: 50px;
	margin-bottom: 15px;
}

#gdpr input
{
	cursor: pointer;
	position: absolute;
	background-color: #525252;
	width: 34px;
	height: 34px;
	content: " ";
	left: 7px;
	top: 7px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	transition: 150ms all;
}

#gdpr > input:checked
{
	left: 36px;
	background-color: #f90;
}

.poptavka p
{
	color: #525252;
	margin-bottom: 20px;
	text-align: center;
}


.poptavka p strong
{
	font-weight: normal;
	font-family: osb, Arial, Helvetica, sans-serif;
	white-space: nowrap;
}


#gdpr::after,
#gdpr input:checked
{
	display: block;
	clear: both;
	content: "";
}


#gdpr p
{
	color: #d50000;
	text-align: center;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width: 100%;
}

#gdpr.error p
{
	display: block;
	padding: 0px;
}

p.error {
	color: #d50000;
}

.thanks {
	height: 20em;
	text-align: center;
	padding-top: 5em;
}


.final_loader
{
	display: none;
	position: fixed;
	left: 0px;
	top: 50%;
	z-index: 100;
	width: 100%;
	pointer-events: none;
	text-align: center;
	font-family: osb, Arial, Helvetica, sans-serif;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.final_loader div
{
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
	background-color: white;
	padding: 30px;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
	animation: flanim 500ms infinite;
}





@keyframes flanim
{
	0%
	{
		color: black;
	}

	50%
	{
		color: #ff9900;
	}

	100%
	{
		color: black;
	}
}



/* MEDIA QUERIES */



@media screen and (max-width: 1750px)
{
	#form > div:not(.subn),
	#sel > div:not(.subn),
	.subn
	{
		max-width: none;
		width: 100%;
		padding-left: 25px;
		padding-right: 25px;
	}
}


@media screen and (max-width: 1660px)
{
	#map
	{
		position: relative;
	}

	#map h2
	{
		position: absolute;
		width: auto;
		margin-top: 0px;
		left: calc((100% - 640px) /3*2 - 180px);
		top: 50%;
	}

	#map .img
	{
		width: 640px;
		margin-left: calc((100% - 640px) /3*2);
	}

	#nabidka img.tazNabidka
	{
		right: 17%;
	}
}


@media screen and (max-width: 1485px)
{
	#map h2
	{
		font-size: 30px;
		left: calc((100% - 640px) /3*2 - 100px);
	}

	#map h2 strong
	{
		font-size: 70px;
	}
}


@media screen and (max-width: 1380px)
{
	#map
	{
		background-position: 120% center, -40% center, top;
	}

	#map .img
	{
		width: 600px;
		margin-left: calc((100% - 600px) /2);
	}

	#map h2
	{
		position: static;
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}

	#map > div
	{
		float: left;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}


@media screen and (max-width: 1300px)
{
	#map
	{
		background-position: 120% top, -40% top, top;
		background-size: auto 80%, auto 80%, auto;
	}
	#nabidka img.tazNabidka
	{
		right: 13%;
	}
}


@media screen and (max-width: 1280px)
{
	#komfort
	{
		display: flex;
		flex-direction: column;
	}

	#komfort p
	{
		width: auto;
		margin-left: auto;
		order: 1;
	}

	#komfort div
	{
		margin-left: auto;
		order: 2;
		width: auto;
	}

	#komfort a
	{
		float: none;
		white-space: nowrap;
	}

	#komfort a:hover
	{
		text-decoration: none;
	}

	#komfort input
	{
		float: right;
	}

	#komfort a span
	{
		display: block;
		float: none;
		margin-left: 0px;
		margin-right: 70px;
	}
	#nabidka img.tazNabidka
	{
		right: 12%;
	}
}


@media screen and (max-width: 1260px)
{
	#mark .logos a
	{
		width: 100px;
		height: 100px;
		margin-right: 20px;
	}

	#mark .logos a img
	{
		width: 50px;
	}
	#nabidka img.tazNabidka
	{
		right: 11%;
	}
}


@media screen and (max-width: 1126px)
{
	.yesno
	{
		width: calc((100% - 30px) /2);
	}

	.yesno:nth-of-type(3)
	{
		margin-right: 30px;
	}

	.yesno:nth-of-type(4)
	{
		clear: none;
	}

	.yesno:nth-of-type(2n)
	{
		margin-right: 0px;
	}

	.yesno:nth-of-type(2n+1)
	{
		clear: left;
	}

	.yesno:nth-of-type(5)
	{
		width: 100%;
	}
	#nabidka img.tazNabidka
	{
		right: 9%;
	}
}


@media screen and (max-width: 1100px)
{
	#sel
	{
		background-size: auto 600px, auto 350px;
	}

	#sel select,
	#imark,
	#imodel,
	#imotor
	{
		font-size: 16px;
		padding: 15px;
		padding-right: 45px;
	}

	.yesno div
	{
		width: 64px;
		height: 39px;
	}

	.yesno div::before
	{
		width: 27px;
		height: 27px;
		left: 5px;
		top: 5px;
	}

	.yesno.sel div::before
	{
		left: 30px;
	}

	.yesno a,
	#form .radios > div a
	{
		margin-top: 7px;
	}

	#form .radios > div div
	{
		width: 39px;
		height: 39px;
	}

	#form .radios > div.sel div::before
	{
		width: 27px;
		height: 27px;
		left: 5px;
		top: 5px;
	}

	#form .inputs > div p
	{
		margin-left: 15px;
	}

	.yesno a
	{
		width: calc(100% - 85px);
	}

	#sel > div.load1
	{
		background-position: 50% 120px;
	}

	#sel > div.load2
	{
		background-position: 83.2% 120px;
	}


	#form .inputs input,
	#form .inputs select,
	#form .inputs select,
	#form .inputs textarea
	{
		font-size: 16px;
		padding: 15px;
	}

	#form .inputs textarea
	{
		height: 128px;
	}

	#form .inputs select
	{
		height: 54px;
	}

	#mark,
	#model,
	#motor
	{
		padding-top: 20px;
	}

	#model a,
	#motor a
	{
		font-size: 14px;
	}

	#model > div,
	#motor > div
	{
		padding-left: 15px;
	}

	#komfort p
	{
		font-size: 14px;
	}
	#nabidka img.tazNabidka
	{
		right: 8%;
	}
	#model .all figure {
		right: -2em;
	}
	#model .all img {
		width: 60%;
	}
	#model div div:last-child {
		padding-bottom: 4rem;
	}
}



@media screen and (max-width: 1070px)
{
	#map
	{
		background-position: 130% center, -60% top, top;
		background-size: auto 80%, auto 80%, auto;
	}
	#nabidka img.tazNabidka
	{
		max-height: 9rem;
		bottom: 2rem;
		right: 6%;
	}
}


@media screen and (max-width: 960px)
{
	#map
	{
		background-image: url("../img/bg_hpcarousel.gif");
		background-repeat: repeat-x;
		background-position: top;
		background-size: auto;
	}

	.subn h2
	{
		font-size: 18px;
	}

	.subn.step h2
	{
		padding-left: 40px;
	}

	.subn.step h2::before
	{
		width: 25px;
		height: 25px;
	}

	#form .inputs p.complete
	{
		max-width: 600px;
	}

	#nabidka img.tazNabidka
	{
		display: none;
	}


}

@media screen and (max-width: 850px)
{
	#model .all figure {
		z-index: -10;
	}
}

@media screen and (max-width: 790px)
{
	#komfort p
	{
		text-align: center;
		background-image: none;
		padding-left: 0px;
		padding: 0px;
		padding-bottom: 20px;
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}

	#komfort p::before
	{
		content: "";
		width: 26px;
		height: 26px;
		background-image: url("../img/info.svg");
		background-size: 26px;
		float: left;
		margin-right: 5px;
	}

	#komfort div
	{
		margin-right: auto;
	}

	#komfort input
	{
		float: right;
		margin-left: auto;
		margin-right: auto;
	}

	#komfort div a span
	{
		margin-right: 60px;
	}

	.poptavka
	{
		padding: 2% 15%;
	}
}


@media screen and (max-width: 768px)
{
	.yesno
	{
		width: 100%;
		margin-right: 0px;
	}
	#model .all figure {
		right: 0;
	}
	#model .all img {
		width: 50%;
	}
}

@media screen and (max-width: 737px)
{
	#imark, #imodel {
		display: flex;
		font-size: 14px;
		width: calc((100% - 30px) / 2);
	}

	#imark {
		margin-right: 20px;
	}

	#imodel {
		margin-right: 0;
	}

	#imotor {
		font-size: 14px;
		width: 100%;
		margin-right: 0px;
		margin-top: 20px;
	}
}



@media screen and (max-width: 720px)
{
	#model,
	#motor {
		width: 100%;
	}


	#sel form select
	{
		width: calc((100% - 30px) / 2);
		font-size: 14px;
	}

	#sel select:nth-of-type(2)
	{
		margin-right: 0px;
	}

	#sel select:last-of-type
	{
		width: 100%;
		margin-right: 0px;
		margin-top: 5px;
	}

	#sel h2
	{
		font-size: 18px;
	}

	#sel
	{
		height: auto;
		min-height: 0px;
		padding-top: 30px;
		background-image: none;
	}

	#sel > select:not(.subn)
	{
		float: left;
		position: static;
		padding-left: 25px;
		padding-right: 25px;

		-webkit-transform: none;
		-o-transform: none;
		transform: none;
	}

	#form > div:not(.subn),
	.subn,
	.poptavka p
	{
		padding-left: 25px;
		padding-right: 25px;
	}


	.yesno,
	#form .radios,
	.poptavka p,
	#form .inputs p.complete
	{
		font-size: 14px;
	}

	.yesno a,
	#form .radios > div a
	{
		margin-top: 9px;
	}



	#form > div:not(.subn)
	{
		padding-top: 20px;
	}

	#sel > div.load1,
	#sel > div.load2
	{
		background-image: url("../img/loader.svg");
		background-position: 50% 185px;
		background-size: 30px;
	}

	#sel > div.load2
	{
		background-position: 50% 185px;
	}

	#form .inputs input,
	#form .inputs select,
	#form .inputs textarea
	{
		font-size: 14px;
	}

	#form .inputs textarea
	{
		height: 122px;
	}

	#form .inputs select
	{
		height: 51px;
	}
}


@media screen and (max-width: 660px)
{
	#nabidka h2.no
	{
		font-size: 24px;
	}

}


@media screen and (max-width: 650px)
{
	#map .img
	{
		margin-left: 0px;
		width: calc(100% - 50px);
		margin-left: 25px;
	}
}


@media screen and (max-width: 620px)
{
	.yesno.error p
	{
		clear: left;
		margin-left: 0px;
	}
}



@media screen and (max-width: 600px)
{
	#form > div:not(.subn)
	{
		float: left;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	#form
	{
		position: relative;
		padding-bottom: 145px;
	}

	#form .inputs > div
	{
		margin-right: 7px;
		margin-bottom: 10px;
		padding-bottom: 10px;
		width: calc((100% - 15px) /2);
	}

	#form .inputs > div:last-of-type
	{
		clear: left;
		padding-top: 10px;
		width: 100%;
	}

	#form .inputs textarea
	{
		position: absolute;
		left: 25px;
		bottom: 10px;
		width: 89%;
	}
}



@media screen and (max-width: 560px)
{
	.radios h3
	{
		width: 100%;
		line-height: 1.8em;
		margin-bottom: 15px;
		border-bottom: 1px solid #525252;
	}

	.radios
	{
		max-width: 360px;
		padding: 25px 0px;
		border-bottom: 0px;
		padding-bottom: 0px;
	}

	.radios:last-of-type
	{
		padding-bottom: 20px;
	}

	.poptavka .yesno
	{
		width: 100%;
		padding: 0px 25px;
	}

	#form2 > div:nth-of-type(2)
	{
		display: flex;
		flex-direction: column;
		padding: 0px;
	}

	#nabidka
	{
		order: 1;
		padding-bottom: 15px;
	}

	#form2 > div:nth-of-type(2) > div:not(#nabidka)
	{
		order: 2;
		padding-bottom: 30px;
	}
}



@media screen and (max-width: 548px)
{
	#map .img > div,
	#map .img > div::after
	{
		width: 7px;
		height: 7px;
	}

	#map h2
	{
		padding: 0px 25px;
		font-size: 28px;
	}
}



@media screen and (max-width: 530px)
{
	#form .radios
	{
		width: 100%;
	}
}



@media screen and (max-width: 520px)
{
	#imark, #imodel, #imotor
	{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 0;
	}


	#form .radios > div a
	{
		float: right;
		width: calc(100% - 60px);
	}

	#form .radios > div
	{
		width: 100%;
	}

	#model {
		margin-left: 0;
	}
}


@media screen and (max-width: 480px)
{
	#slides a {
		display: block;
		text-align: center;
		width: 100%;
		margin: 0px;
	}

	#slides a img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#slides a:first-of-type {
		margin-bottom: 30px;
	}


	.yesno div
	{
		width: 48px;
		height: 30px;
	}

	.yesno div::before
	{
		width: 20px;
		height: 20px;
		left: 4px;
		top: 4px;
	}

	.yesno.sel div::before
	{
		left: 22px;
	}

	.yesno a
	{
		margin-top: 4px;
	}

	#form .radios > div div
	{
		width: 39px;
		height: 39px;
	}

	#form .radios > div.sel div::before
	{
		width: 27px;
		height: 27px;
		left: 5px;
		top: 5px;
	}

	.yesno a
	{
		margin-left: 15px;
		width: calc(100% - 65px);
	}



	#form .inputs div
	{
		width: 100%;
		padding-bottom: 10px;
	}


	#map > div
	{
		padding-bottom: 0px;
	}


	#form .inputs > div:nth-last-of-type(3)
	{
		padding-bottom: 10px;
	}

	#form .inputs > div:last-of-type
	{
		padding-top: 10px;
	}

	#form .inputs
	{
		padding-bottom: 135px;
	}

	#nabidka h2
	{
		font-size: 24px;
	}

	#nabidka h2.no
	{
		font-size: 18px;
	}


	#form2 > div:not(.subn).poptavka
	{
		padding-bottom: 0px;
	}

	.poptavka
	{
		padding: 2% 8%;
	}
}


@media screen and (max-width: 430px)
{
	#komfort p
	{
		font-size: 12px;
	}

	#komfort a
	{
		font-size: 14px;
	}
}


@media screen and (max-width: 410px)
{
	.radios > div
	{
		width: 130px;
		font-size: 12px;
	}

	.radios
	{
		max-width: 260px;
	}

	.radios > div div,
	.radios input,
	#komfort a::before
	{
		width: 40px;
		height: 40px;
	}

	.radios > div input:checked
	{

		top: 7px;
		left: 7px;
		width: 24px;
		height: 24px;
	}

	.radios > div label
	{
		margin-left: 12px;
	}

	.radios > div a,
	.redukce > div div:last-of-type
	{
		margin-left: 10px;
	}

	.redukce > div.sel div:first-of-type::before,
	#komfort a.sel::before
	{
		background-size: 20px;
	}

	.redukce > div div:last-of-type
	{
		line-height: 40px;
	}

	#nabidka
	{
		margin-top: 20px;
	}

	#form2 > div:not(.subn)
	{
		padding-top: 0px;
	}

	#form2 > div:not(.subn).poptavka
	{
		padding-top: 30px;
	}

	.poptavka p strong
	{
		white-space: normal;
	}

	.radios h3
	{
		font-size: 14px;
	}

	#komfort input
	{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	#komfort div a span
	{
		margin-right: 0px;
	}
}


@media screen and (max-width: 400px)
{
	#map .img > div,
	#map .img > div::after
	{
		width: 5px;
		height: 5px;
	}
}


@media screen and (max-width: 400px)
{
	#model .all figure {
		right: -4em;
	}
}
