.shown {
    display: block !important;
}

.lang-menu p {
    display: none;
}

.lang-menu {
    margin-top: .2rem;
}

.lang-menu .selected-lang {
    cursor: pointer;
    width: 30px;
    height: 24px;
}

.lang-menu i {
    font-size: .8em;
    float: right;
}

#langArrow {
    font-size: .6em;
}

.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 27px;
    height: 21px;
    background-image: url("../image/ikony/cz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: .1px solid var(--color-lightGray);
}

.lang-menu ul,
.navmail {
    background-color: var(--color-lightGray);
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    /*width: 3em;*/
    border-radius: 5px;

    /*margin: 0;*/
    /*padding: 0;*/
    display: none;
    position: absolute;
    top: 33px;
    /*right: 3% !important;*/
}

.navmail {
    padding: .5rem;
    width: inherit;
}

.lang-menu ul li {
    text-align: center;
    list-style: none;
    border: 1px solid var(--color-white);
}

.lang-menu ul li a {
    padding: 7px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: var(--color-white);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 24px;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    border: .1px solid var(--color-lightGray);
}

.cz:before {
    background-image: url("../image/ikony/cz.jpg");
}
.sk:before {
    background-image: url("../image/ikony/sk.jpg");
}
.hu:before {
     background-image: url("../image/ikony/hu.jpg");
 }

.lang-menu:hover ul {
    display: block;
    z-index: 100;
}
.hu:before {
    background-image: url("../image/ikony/hu.jpg");
}



/*
*
** MEDIA QUERIES
*
*/

@media screen and (max-width: 1768px)
{
    .lang-menu {
        right: 3em;
    }
}

@media screen and (max-width: 730px)
{
    .lang-menu {
        right: 1em;
    }
}

@media screen and (max-width: 480px)
{
    .lang-menu {
        right: 1.5em;
        top: .5em;
    }
    .lang-menu .selected-lang:before,
    .lang-menu .selected-lang {
        width: 25px;
        height: 17px;
    }
}