.lang-menu p {
    display: none;
}

.lang-menu {
    display: inline-flex;
    position: absolute;
    top: 1em;
    right: 7em;
}
.lang-menu .selected-lang {
    cursor: pointer;
    width: 32px;
    height: 32px
}

.lang-menu i {
    font-size: .8em;
    float: right;
}

#langArrow {
    color: #707070;
    margin-left: .3em;
    padding-top: .3em;
}

.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 25px;
    background-image: url("../image/ikony/cz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: .1px solid var(--color-gray);
}

.lang-menu ul {
    background-color: var(--color-lightGray);
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    width: 3em;
    border-radius: 5px;

    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 26px;
    right: 1px;
}


.lang-menu ul li {
    text-align: center;
    list-style: none;
    border: 1px solid var(--color-white);
}

.lang-menu ul li a {
    padding: 7px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: var(--color-white);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 25px;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
}

.cz:before {
    background-image: url("../image/ikony/cz.jpg");
}
.sk:before {
    background-image: url("../image/ikony/sk.jpg");
}

.lang-menu:hover ul {
    display: block;
    z-index: 100;
}



/*
*
** MEDIA QUERIES
*
*/

@media screen and (max-width: 1768px)
{
    .lang-menu {
        right: 3em;
    }
}

@media screen and (max-width: 730px)
{
    .lang-menu {
        right: 1em;
    }
}

@media screen and (max-width: 480px)
{
    .lang-menu {
        right: 1.5em;
        top: .5em;
    }
    .lang-menu .selected-lang:before,
    .lang-menu .selected-lang {
        width: 25px;
        height: 17px;
    }
}