.m1
{
	left: 31.2%;
	top: 82.7%;
}

.m2
{
	left: 78.2%;
	top: 40%;
}

.m3
{
	left: 54%;
	top: 67.8%;
}

.m4
{
	left: 34.8%;
	top: 68.7%;
}

.m5
{
	left: 30.7%;
	top: 30%;
}

.m6
{
	left: 50.6%;
	top: 38.1%;
}

.m7
{
	left: 47.3%;
	top: 53.8%;
}

.m8
{
	left: 72.5%;
	top: 87.4%;
}

.m9
{
	left: 11.6%;
	top: 65.4%;
}

.m10
{
	left: 95.3%;
	top: 52%;
}

.m11
{
	left: 33.6%;
	top: 73.4%;
}

.m12
{
	left: 71.9%;
	top: 33.3%;
}

.m13
{
	left: 75.1%;
	top: 78%;
}

.m14
{
	left: 43.1%;
	top: 58.8%;
}

.m15
{
	left: 66.9%;
	top: 51.5%;
}

.m16
{
	left: 37.9%;
	top: 21.7%;
}

.m17
{
	left: 33.9%;
	top: 48.6%;
}

.m18
{
	left: 25.2%;
	top: 15.3%;
}

.m19
{
	left: 85.2%;
	top: 34.3%;
}

.m20
{
	left: 55.8%;
	top: 27.3%;
}

.m21
{
	left: 73.3%;
	top: 30.3%;
}

.m22
{
	left: 82.6%;
	top: 78.8%;
}

.m23
{
	left: 30.3%;
	top: 73.8%;
}

.m24
{
	left: 60.4%;
	top: 85.3%;
}

.m25
{
	left: 38.1%;
	top: 8.1%;
}

.m26
{
	left: 56.1%;
	top: 36.1%;
}

.m27
{
	left: 38.5%;
	top: 38.8%;
}

.m28
{
	left: 66.7%;
	top: 70.7%;
}

.m29
{
	left: 83.5%;
	top: 57%;
}

.m30
{
	left: 18.8%;
	top: 65.3%;
}

.m31
{
	left: 84.7%;
	top: 42.2%;
}

.m32
{
	left: 22.6%;
	top: 70.4%;
}

.m33
{
	left: 84.2%;
	top: 52%;
}

.m34
{
	left: 35.8%;
	top: 20.2%;
}

.m35
{
	left: 3.7%;
	top: 65.5%;
}

.m36
{
	left: 64.3%;
	top: 83.4%;
}

.m37
{
	left: 15.4%;
	top: 67.1%;
}

.m38
{
	left: 42%;
	top: 87.1%;
}

.m39
{
	left: 40.9%;
	top: 51.2%;
}

.m40
{
	left: 92.8%;
	top: 40.7%;
}

.m41
{
	left: 42.1%;
	top: 82.3%;
}

.m42
{
	left: 42.4%;
	top: 63.8%;
}

.m43
{
	left: 71%;
	top: 39.6%;
}

.m44
{
	left: 68.9%;
	top: 85.5%;
}

.m45
{
	left: 69.3%;
	top: 63.6%;
}

.m46
{
	left: 72.1%;
	top: 75.3%;
}

.m47
{
	left: 69%;
	top: 36.5%;
}

.m48
{
	left: 28.7%;
	top: 52.5%;
}

.m49
{
	left: 41%;
	top: 93%;
}

.m50
{
	left: 45.9%;
	top: 66.6%;
}

.m51
{
	left: 33%;
	top: 17%;
}

.m52
{
	left: 47.3%;
	top: 80%;
}

.m53
{
	left: 45%;
	top: 43.4%;
}

.m54
{
	left: 35.9%;
	top: 54.8%;
}

.m55
{
	left: 78.9%;
	top: 56.2%;
}

.m56
{
	left: 58.6%;
	top: 73.7%;
}

.m57
{
	left: 33.6%;
	top: 90%;
}

.m58
{
	left: 46.2%;
	top: 28.9%;
}

.m59
{
	left: 60.8%;
	top: 28.9%;
}

.m60
{
	left: 78.6%;
	top: 36.8%;
}

.m61
{
	left: 42.6%;
	top: 7.5%;
}

.m62
{
	left: 32.7%;
	top: 69.8%;
}

.m63
{
	left: 40.7%;
	top: 10.2%;
}

.m64
{
	left: 50.3%;
	top: 44.2%;
}

.m65
{
	left: 87.1%;
	top: 71.3%;
}

.m66
{
	left: 43.4%;
	top: 50.5%;
}

.m67
{
	left: 43.6%;
	top: 19.2%;
}

.m68
{
	left: 43.8%;
	top: 48%;
}

.m69
{
	left: 62.1%;
	top: 56.2%;
}

.m70
{
	left: 53.4%;
	top: 46.1%;
}

.m71
{
	left: 84.5%;
	top: 62.7%;
}

.m72
{
	left: 65%;
	top: 24.1%;
}

.m73
{
	left: 42.5%;
	top: 30.1%;
}

.m74
{
	left: 37.5%;
	top: 31.5%;
}

.m75
{
	left: 58.2%;
	top: 50.8%;
}

.m76
{
	left: 35.9%;
	top: 87.7%;
}

.m77
{
	left: 50.4%;
	top: 29.2%;
}

.m78
{
	left: 70.9%;
	top: 81.8%;
}

.m79
{
	left: 50%;
	top: 21.5%;
}

.m80
{
	left: 79.5%;
	top: 73.5%;
}

