.m1
{
	left: 50%;
	top: 30%;
}

.m2
{
	left: 55.2%;
	top: 29%;
}

.m3
{
	left: 50%;
	top: 35%;
}

.m4
{
	left: 54.8%;
	top: 58.7%;
}

.m5
{
	left: 30.7%;
	top: 30%;
}

.m6
{
	left: 50.6%;
	top: 38.1%;
}

.m7
{
	left: 47.3%;
	top: 53.8%;
}

.m8
{
	left: 72.5%;
	top: 87.4%;
}

.m9
{
	left: 11.6%;
	top: 33.4%;
}

.m10
{
	left: 90.3%;
	top: 52%;
}

.m11
{
	left: 33.6%;
	top: 34.4%;
}

.m12
{
	left: 22.9%;
	top: 33.3%;
}

.m13
{
	left: 75.1%;
	top: 78%;
}

.m14
{
	left: 53.1%;
	top: 48.8%;
}

.m15
{
	left: 66.9%;
	top: 51.5%;
}

.m16
{
	left: 37.9%;
	top: 21.7%;
}

.m17
{
	left: 33.9%;
	top: 38.6%;
}

.m18
{
	left: 25.2%;
	top: 15.3%;
}

.m19
{
	left: 85.2%;
	top: 34.3%;
}

.m20
{
	left: 55.8%;
	top: 27.3%;
}

.m21
{
	left: 73.3%;
	top: 45.3%;
}

.m22
{
	left: 82.6%;
	top: 78.8%;
}

.m23
{
	left: 10.3%;
	top: 23.8%;
}

.m24
{
	left: 60.4%;
	top: 85.3%;
}

.m25
{
	left: 15.1%;
	top: 10.1%;
}

.m26
{
	left: 56.1%;
	top: 36.1%;
}

.m27
{
	left: 38.5%;
	top: 38.8%;
}

.m28
{
	left: 66.7%;
	top: 70.7%;
}

.m29
{
	left: 83.5%;
	top: 57%;
}

.m30
{
	left: 18.8%;
	top: 25.3%;
}

.m31
{
	left: 84.7%;
	top: 42.2%;
}

.m32
{
	left: 22.6%;
	top: 10.4%;
}

.m33
{
	left: 84.2%;
	top: 52%;
}

.m34
{
	left: 35.8%;
	top: 20.2%;
}

.m35
{
	left: 4.7%;
	top: 15.5%;
}

.m36
{
	left: 64.3%;
	top: 83.4%;
}

.m37
{
	left: 15.4%;
	top: 35.1%;
}

.m38
{
	left: 45%;
	top: 87.1%;
}

.m39
{
	left: 45.9%;
	top: 21.2%;
}

.m40
{
	left: 90.8%;
	top: 40.7%;
}

.m41
{
	left: 42.1%;
	top: 82.3%;
}

.m42
{
	left: 62.4%;
	top: 33.8%;
}

.m43
{
	left: 71%;
	top: 39.6%;
}

.m44
{
	left: 68.9%;
	top: 85.5%;
}

.m45
{
	left: 69.3%;
	top: 63.6%;
}

.m46
{
	left: 72.1%;
	top: 75.3%;
}

.m47
{
	left: 69%;
	top: 36.5%;
}

.m48
{
	left: 28.7%;
	top: 22.5%;
}

.m49
{
	left: 61%;
	top: 93%;
}

.m50
{
	left: 45.9%;
	top: 66.6%;
}

.m51
{
	left: 33%;
	top: 17%;
}

.m52
{
	left: 47.3%;
	top: 80%;
}

.m53
{
	left: 45%;
	top: 45.4%;
}

.m54
{
	left: 35.9%;
	top: 25.8%;
}

.m55
{
	left: 78.9%;
	top: 56.2%;
}

.m56
{
	left: 58.6%;
	top: 73.7%;
}

.m57
{
	left: 53.6%;
	top: 90%;
}

.m58
{
	left: 46.2%;
	top: 28.9%;
}

.m59
{
	left: 60.8%;
	top: 38.9%;
}

.m60
{
	left: 78.6%;
	top: 36.8%;
}