.d-none {
    display: none;
}
.close {
    position: absolute;
    right: -1%;
    top: -1%;
}
.close span {
    border: 2px solid var(--color-lightGray);
    padding: 0.2em 0.5em;
    border-radius: 50%;
    color: var(--color-lightGray);
    background-color: var(--color-gray);
}
.close .fa {
    font-size: 3em !important;
}
.modal a.close span:hover {
    background-color: var(--color-darkGray);
}

.modal-content a:hover {
    text-decoration: none !important;
}
.modal-content a span:hover {
    background-color: var(--color-orange);
}
#doc div > a .close {
    margin-bottom: 0;
    cursor: pointer !important;
}


/* Specific mapael css class are below
 * 'mapael' class is added by plugin
*/

.mapael .map {
    position: relative;
}


.mapael .mapTooltip {
    position: absolute;
    opacity: 0.95;
    filter: alpha(opacity=95);
    border-radius: 10px;
    padding: 5px;
    z-index: 1000;
    display: none;
    background-color: #343434;
    color: #fff;
}

#doc .mapael h2 {
    font-size: 1.2em;
}

.mapael .mapTooltip h2,
.modal .orange {
    color: #fff;
    background-color: var(--color-orange);
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.mapael .map svg {
    left: 0 !important;
    overflow: unset !important;
}

#doc .mapTooltip ul li {
    display: flex;
    background-position: unset !important;
    background-size: 23px;
}

#doc .mapael .mapTooltip ul {
    font-size: 1rem !important;
    line-height: 1em !important;
    width: 100% !important;
    padding-left: 7%;
    padding-top: 3%;
    margin-bottom: 0 !important;
}


main {
    position: relative;
}

.d-none {
    display: none !important;
}
.selected {
    display: block;
    outline: none;
    top: 0;
    opacity: .98;
    pointer-events: auto;
    transition: all 1.2s ease;
}

.modal {
    position: fixed;
    z-index: 1000;
    width: 70%;
    height: auto;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    outline: 0;
    background-color: rgba(0,0,0,0.82);
}
.modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    text-align: center;
    height: 100%;
    padding-bottom: 3em;
}

.overlay {
    z-index: 1999;
    position: fixed; /* Positioning and size */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(128,128,128,0.5); /* color */
    display: none; /* making it hidden by default */
}

.overlay .content {
    display: flex;
    justify-content: space-around;
}

.overlay .content img {
    max-width: 40% !important;
    padding-top: 1rem !important;
}


.modal ul {
    color: var(--color-lightGray);
    max-width: 40%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal ul li,
.detail ul li {
    display: block;
    background-image: url(../img/dot-col.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left 0.25em;
    padding-left: 60px;
    padding-bottom: 0.7em;
    text-align: left;
}

.content span {
    margin-top: 5%;
}

.modal p {
    float: none !important;
    padding: 1rem 0;
}

.modal h2 {
    font-size: 45px;
}

.twpAddress {
    color: var(--color-white);
}

@media screen and (max-width: 1280px)
{
    .modal h2 {
        font-size: 30px;
    }
    #doc h2 {
        font-size: 1rem;
    }
    #doc ul {
        font-size: .8rem !important;
        line-height: 1.2rem;
        margin-bottom: 0;
    }

    #doc ul li {
        background-size: 20px;
        padding-left: 2rem;
    }
}
@media screen and (max-width: 1100px) {
    .modal {
        width: 80%;
    }
}
@media screen and (max-width: 960px) {
    .mapcontainer {
        float: left;
    }
}
@media screen and (max-width: 900px)
{
    .modal {
        left: 8%;
        width: 85%;
    }

    .modal .content {
        display: flex;
        align-items: center;
        max-width: 100%;
    }
    .content span {
        font-size: .8em !important;
    }
    .modal .content img {
         max-width: 50% !important;
    }
    .modal ul {
        max-width: 90%;
        font-size: 1em !important;
        padding-left: 1em;
    }
    .modal ul li {
        text-align: left;
    }
    .modal-content {
        height: auto;
    }
    #doc .mapael h2 {
        font-size: .8em;
    }
    #doc .mapTooltip ul li {
        font-size: .6rem !important;
    }
    #doc .mapTooltip ul li {
        background-size: 16px;
    }
    .mapael .mapTooltip {
        display: none !important;
    }
}

@media screen and (max-width: 700px)
{
    .modal .content {
        flex-direction: column;
    }
    .modal .content img {
        max-width: 70% !important;
    }
    .modal h2 {
        font-size: 1.5em !important;
    }
}

@media screen and (max-width: 420px)
{
    .modal {
        width: 95%;
        left: unset;
    }
}