.d-none {
    display: none;
}
.close {
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 1%;

}


/* Specific mapael css class are below
 * 'mapael' class is added by plugin
*/

.mapael .map {
    position: relative;
}

.mapael .mapTooltip {
    position: absolute;
    opacity: 0.95;
    filter: alpha(opacity=95);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    display: none;
    background-color: #343434;
    color: #fff;
}

.mapael .mapTooltip h2,
.modal .orange {
    color: #fff;
    background-color: var(--color-orange);
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.mapael .mapTooltip ul {
    width: 100% !important;
    padding-left: 10%;
    padding-top: 5%;
}


main {
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.92);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}
.modal.selected {
    display: block;
    outline: none;
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 1.2s ease;
}
.modal .content {
    display: flex;
    justify-content: space-around;
}
.modal .content img {
    max-width: 40% !important;
    padding-top: 1rem !important;
}


.modal ul {
    color: var(--color-lightGray);
    max-width: 40%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal ul li,
.detail ul li {
    display: block;
    background-image: url(../img/dot-col.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left 0.25em;
    padding-left: 60px;
    padding-bottom: 0.7em;
}

.content span {
    margin-top: 5%;
}

.modal p {
    float: none !important;
    padding: 1rem 0;
}

.modal h2 {
    font-size: 45px;
}

@media screen and (max-width: 1230px){
    .modal h2 {
        font-size: 30px;
    }
}