.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-top: .5rem;
}

.navbar a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #040404;
}
.contact h2 {
    font-size: 1.1rem;
}
.contact svg {
    font-size: .9rem;
    margin-top: .2rem;
}
.contact svg.fa-envelope {
    font-size: 1.5rem;
}

.nav > div {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.contact {
    margin-right: 1rem;
}

.navmail {
    position: absolute;
    z-index: 150;
}

@media screen and (max-width: 500px)
{
    .navbar a {
        font-weight: 400;
        font-size: 1rem;
    }
    .nav {
        margin-top: 0;
        margin-bottom: .5rem;
    }
    #gdpr {
        width: 30%;
    }
}