
.nav {
    display: flex;
    margin-top: .5rem;
    justify-content: flex-end;
}

.navbar a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #040404;
}
.contact h2 {
    font-size: 1.1rem;
}
.contact h2, p {
    margin-right: 1em;
}
.contact svg {
    font-size: .9rem;
    margin-top: .2rem;
}
svg.fa-phone-alt {
    margin-right: .5em;
    padding-top: .1em;
}
.contact svg.fa-envelope {
    font-size: 1.5rem;
    padding-right: .2em;
}

.nav > div {
    display: flex;
    align-items: center;
}

.navmail {
    position: absolute;
    z-index: 150;
}

@media screen and (max-width: 500px)
{
    .navbar a {
        font-weight: 400;
        font-size: 1rem;
    }
    .nav {
        margin-top: 0;
        margin-bottom: .5rem;
    }

    .navbar .contact p {
        display: none;
    }
}