
#doc {
    background-image: url(../img/towpoint-ikony.jpg);
    background-position: 90%;
    background-size: auto 85%;
}

footer img.tazak {
    max-height: 21rem;
}

#doc ul li {
    padding-left: 1.8em;
    color: black;
    padding-bottom: 0.3em;
}

#title h1 {
    text-align: center;
    padding: 0.4em 0;
    font-weight: 500;
    font-size: 1.7em;
}

.text-orange {
    color: var(--color-orange);
}

#doc .doplnkoveInfo p {
    line-height: 1.2em;
}

#doc .doplnkoveInfo a {
    white-space: nowrap;
    color: inherit;
    text-decoration: underline;
}

#links {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    background-color: var(--color-lightGray);
    margin-bottom: 2em;
    padding: 2%;
}

#links .linksList {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#links .linksList a {
    font-size: 1.3em;
    color: var(--color-darkGray);
    line-height: 1.3em;
    font-weight: 400;
}

footer .recenze {
    display: none;
}
.doplnkoveInfo {
    width: 60%;
}


@media screen and (max-width: 1200px)
{
    #doc {
        background-size: auto 60%;
    }
}
@media screen and (max-width: 900px)
{
    #doc {
        background-image: none;
    }
}

@media screen and (max-width: 700px) {
    #links .linksList a {
        font-size: 80%;
    }
    #links h1 {
        font-size: 100%;
    }
    .doplnkoveInfo {
        width: 100%;
    }
    #doc h1 {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 400px) {
    #doc h1 {
        font-size: 1em;
    }
}
