

    .attention {
        color: var(--color-darkGray);
        text-align: center;

        width: 100%;
        background-image: url("../../image/obrazky/tahani/Attention.png");
        background-repeat: no-repeat;
        background-position: 125% 44%;
        background-size: auto 700px;
        background-color: #F8F8F8;
        background-blend-mode: soft-light;
    }
    .attention div {
        width: 70%;
    }


    .attention img {
        border: .4em solid var(--color-orange);
        max-width: 60%;
        margin-top: 1rem;
    }

    .attention h3 {
        padding-bottom: 1em;
    }

    main {
        margin-bottom: 0;
    }








    /*
    **
    *** MEDIA QUERIES
    **
    */


    @media screen and (max-width: 1000px)
    {
        .attention img {
            max-width: 90%;
        }
        .attention div {
            width: 90%;
        }
        section.overeno {
            margin-bottom: 1rem;
        }
    }
    @media screen and (max-width: 500px) {
        .attention img {
            max-width: 100%;
        }
        .recenze {
            height: 8em;
        }
    }