/* section special blocks */

    #basic .titlenote {
        float: none;
        max-width: 90%;
    }

    .wrapper .titlenote {
        text-align: center;
        margin: 3em auto 1em auto;
        color: var(--color-darkGray);
    }

    .wrapper:last-of-type .titlenote {
        margin-top: 0;
    }

    .wrapper .titlenote h2 {
        padding-bottom: .8em;
        font-weight: 400;
    }
    .wrapper .titlenote h3 {
        font-weight: 600;
    }
    .dodavatele .titlenote p {
        font-weight: 300;
    }

    .wrapper .titlenote strong {
        font-weight: 600;
    }

    .wrapper > div,
    .wrapper article {
        margin: 0 auto;
        float: left;
    }

    .wrapper article {
        margin-bottom: 4em;
        padding: 0 10em;
    }

    article .line {
        display: flex;
        align-items: center;
        position: relative;
    }

    article div.logo {
        background-color: var(--color-white);
        width: 85%;
    }


    article .description {
        padding: 1.5em;
        color: var(--color-white);
    }
    .line div.smallView,
    .line img.smallView {
        display: none;
    }

    #basic {
        clear: both;
        float: left;
        background-color: var(--color-white);
    }
    .line {
        float: left;
        max-width: 65em;
        background-color: var(--color-gray);
        border: 8px solid var(--color-gray);
    }
    .description {
        background-color: var(--color-gray);
    }
    .line img {
        padding: 0;
    }
    .line:nth-of-type(2n) {float: right; background-color: var(--color-lightGray); border:  8px solid var(--color-lightGray);}
    .line:nth-of-type(2n) .description { background-color: var(--color-lightGray); color: var(--color-gray)}



    .line.west .description { background-color: #4C6AAE; color: var(--color-white)}
    .line.west { border: 8px solid #4C6AAE; background-color: #4C6AAE;}
    .line.stein .description { background-color: #484846; color: var(--color-white)}
    .line.stein { border: 8px solid #484846; background-color: #484846;}
    .line.hak .description { background-color: #E74D58;}
    .line.hak { border: 8px solid #E74D58; background-color: #E74D58;}
    .line.ej .description { background-color: #3E97AA;}
    .line.ej { border: 8px solid #3E97AA; background-color: #3E97AA;}
    .line.ecs .description { background-color: #1B1C20;}
    .line.ecs { border: 8px solid #1B1C20; background-color: #1B1C20;}


.line i {
        font-size: 1.5em;
        padding: 0.1em;
        color: red;
        border: red solid 2px;
        border-radius: 50%;
        margin-right: .2em;
        float: right;
    }

/* end section special blocks */






/*
**
*** MEDIA QUERIES
**
*/


    @media screen and (max-width: 1450px)
    {
        #basic .line:nth-of-type(2n) {
            float: left;
        }

    }

    @media screen and (max-width: 1000px)
    {
        .wrapper article {
            padding: 2em 3em;
        }

    }

    @media screen and (max-width: 600px)
    {
        .wrapper article {
            padding: 1em 2em;
        }

        article .line {
            display: block;
            margin-bottom: 1em;
        }
        .line div.smallView,
        .line img.smallView {
            display: inherit;
        }
        .line div.bigView,
        .line img.bigView {
            display: none;
        }

        article .line:nth-of-type(1n+1) {margin: 0;}

        article .description {
            padding: .5em;
        }

        article div.logo {
            width: 100%;
        }
    }