

/* clanek na blogu montaz / papirovani */


section.overeno {
    background-image: url("../../image/obrazky/papirovani/overeno.png");
    background-blend-mode: color-burn;
    margin-bottom: 4em;
}

section.porovnani {
    margin-bottom: 6em;
}
header nav a:nth-of-type(4) span {
    background-color: #f90;
    -webkit-transform: translateY(0);
}