




    /*
    **
    *** MEDIA QUERIES
    **
    */


    @media screen and (max-width: 1600px)
    {
        #vyrobci.line img {
            width: 100%;
        }
    }

    @media screen and (max-width: 1300px)
    {

    }

    @media screen and (max-width: 850px)
    {
        #basic .line {
            margin: 0;
        }
    }

    @media screen and (max-width: 600px)
    {
        #basic .line img {
            width: 100%;
        }
    }