<!DOCTYPE html>
<html lang="<?=lang('cs','en','sk')?>">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<meta name="author" content="VAPOL | www.vapol.cz | it@vapol.cz">
	<meta name="generator" content="SPR-Machine-1.0">
	<meta name="keywords" content="">
	<meta name="description" content="">
{*	{if ($noindex)} <meta name="robots" content="noindex, nofollow">{/if}*}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
	<meta name="format-detection" content="telephone=no">


	<!-- Favicons -->
	<link href="{$basePath}/assets/img/favicon.ico" rel="icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">




	<!-- Template Main CSS File -->
	<link href="{$basePath}/assets/css/base.css" rel="stylesheet">
	<link href="{$basePath}/assets/css/slides.css" rel="stylesheet">
	<link href="{$basePath}/assets/css/map.css" rel="stylesheet">



	<!-- Main JS File -->

	<script src="{$basePath}/assets/js/mq.genie.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
	<script src="{$basePath}/assets/js/jquery.iosslider.min.js"></script>
	<script src="{$basePath}/assets/js/base.js"></script>




	<!-- Nette form -->
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>




	{block head}{/block}



	<title>{ifset title}{include title|stripHtml} | {/ifset} {$baseTitle}</title>
</head>



<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>



	<!-- ======= Header ======= -->

	<header>
		<a n:href="Default:" title="přejít na titulní stránku" class="logo"></a>
		<nav n:inner-foreach="App\Presenters\BasePresenter::$mainMenu as $link => $caption">
			<a class="nav-link {if $presenter->isLinkCurrent($link)}active{/if}" n:href="$link"><span>{$caption}</span></a>
		</nav>
		<a href="#" id="mmenu"><span>Menu</span></a>
	</header>

	<!-- End Header -->



	{include content}



	<!-- ======= Footer ======= -->
	<section id="vyrobci">
		<div><img src="{$basePath}/assets/img/auto-hak.png" alt="Auto-hak"></div>
		<div><img src="{$basePath}/assets/img/westfalia.png" alt="Westfalia"></div>
		<div><img src="{$basePath}/assets/img/multipa.png" alt="Multipa"></div>
		<div><img src="{$basePath}/assets/img/aragon.png" alt="Aragon"></div>
		<div><img src="{$basePath}/assets/img/steinhof.svg" alt="Steinhof"></div>
		<div><img src="{$basePath}/assets/img/erich_jaeger.png" alt="Erich Jaeger"></div>
	</section>

	<div id="service_net">
		<div>Montážní střediska Towpoint tvoří integrovanou síť servisů, které se specializují zejména na instalaci tažných zařízení. Poskytujeme nadstandardní služby pro Vás i&nbsp;Vaše vozidlo. Nabízíme pouze certifikovaná tažná zařízení největších světových výrobců a&nbsp;jsme jedničkou na Českém trhu. Mezi naše přednosti patří také individuální přístup ke každému zákazníkovi, kterému se věnujeme na naší zákaznické lince.</div>
	</div>
	<!-- End Footer -->


	<div id="preloader"></div>
  	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



</body>
</html>
